<% if post.id %>
  <%= form_with(url: post_path(post), method: :patch) do |form| %>
    <%= form.text_field :title %>
    <%= form.submit "更新する" %>
  <% end %>
<% else %>
  <%= form_with(url: posts_path, method: :post,model: post, local: true) do |form| %>
    <%= form.text_field :title %>
    <h1>投稿テスト</h1>
    <%= form.submit "投稿する" %>
  <% end %>
<% end %>